﻿@model RezervacijaSoba.Models.Rezervacija

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rezervacija</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Soba.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Soba.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImePrezime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImePrezime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Od)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Od)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Do)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Do)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Otkazana)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Otkazana)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
