﻿@model IEnumerable<RezervacijaSoba.Models.Rezervacija>

@{
    ViewBag.Title = "Lista rezervacija";
}

<h2>Lista rezervacija</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Broj Rezervacije")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImePrezime)
        <th>
            @Html.DisplayNameFor(model => model.Soba.BrojSobe)
        </th>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Od)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Do)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Otkazana)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImePrezime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Soba.BrojSobe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Od)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Do)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Otkazana)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
