﻿@model RezervacijaSoba.Models.Smestaj

<tr>
    <td>
        @Model.Naziv
    </td>
    <td>
         @Model.Opis
    </td>
    <td>
        @Model.Adresa
    </td>
    <td>
        @Model.Ocena
    </td>
    
</tr>