﻿@model RezervacijaSoba.ViewModel.SmestajListaSobaViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Smestaj</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Smestaj.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smestaj.Naziv)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Smestaj.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smestaj.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Smestaj.Adresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smestaj.Adresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Smestaj.Ocena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Smestaj.Ocena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Smestaj.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h2>Lista soba ovog smestaja</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Smestaj.Naziv)
        </th>
        <th>
            @Html.DisplayName("Broj Sobe")
        </th>
        <th>
            @Html.DisplayName("Broj kreveta")
        </th>
        <th>
            @Html.DisplayName("Cena po nocenju")
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model.ListaSoba)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Smestaj.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojSobe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojKreveta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CenaPoNocenju)
            </td>
            <td>
                @Html.ActionLink("Rezervisi sobu", "Create", "Rezervacijas", new { id = item.Id},null ) 
            </td>
        </tr>
    }
</table>