﻿@model IEnumerable<RezervacijaSoba.Models.Smestaj>
@{
    ViewBag.Title = "Index";
}
<h2>Lista smestaja</h2>
<p class="clearfix">
    @Html.ActionLink("Create New", "Create")
    <button id="filter" class="btn btn-default btn-lg pull-right">Filter</button>
</p>

<div id="filterForm" class="hidden">
    @using (Html.BeginForm("FIlter", "Smestajs", FormMethod.Post))
    {
        @Html.Label("Description")
        @Html.TextBox("Opis", null, new { @class = "form*control" })
        @Html.Label("address")
        @Html.TextBox("Adresa", null, new { @class = "form*control" })
        <input type="submit" class="btn btn-info" />
    }
</div>

<div class="well clearfix">
    <div class="col-md-6">
        <span>Sortiraj Smestaj</span>

        @using (Html.BeginForm("Index", "Smestajs", FormMethod.Post))
        {
            @Html.DropDownList("sortType", ViewBag.sortTypes as SelectList, new { @class = "form-control col-md-6" })
            <input type="submit" name="Sort">
        }
    </div>
</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Opis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ocena)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ocena)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }
</table>


@section scripts
{

    <script src="~/Scripts/myfilter.js"></script>
}